$avatar-size: 120px;
$spinner-color: #C3CFD8;
$background-color: white;
$spinner-width: 4%;
$spinner-period: 2s;
$spinner-complete-delay: 0;
$spinner-complete-duration: 300ms;
$spinner-fade-delay: $spinner-complete-duration;
$spinner-fade-duration: 150ms;
$spinner-center-expand-delay: $spinner-complete-duration;
$spinner-center-expand-duration: 0.2s;

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


// .avatar-view {
//   width: $avatar-size;
//   height: $avatar-size;
//   position: relative;
// }

.profile-image {
  border-radius: 50%;
}

%fill-avatar {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-view {
  position: relative;
}

.avatar-loading-spinner {
  @extend %fill-avatar;
  position: absolute;
  top: 0; left: 0;

  // The spinner is comprised of a background section covering the left half
  // of the element, and an inset box shadow emenating from the from the
  // bottom left
  background: {
    color: $background-color;
    image: linear-gradient($spinner-color, $spinner-color);
    size: 50%;
    position: left;
    repeat: no-repeat;
  }
  box-shadow: inset $avatar-size/4 $avatar-size/-4 $avatar-size/8 $spinner-color;

  animation: {
    duration: $spinner-period;
    name: spin;
    iteration-count: infinite;
    timing-function: linear;
  }

  // On some browsers, there is a faint line of the box-shadow;
  // hide it with a subpixel solid border
  border: 0.5px solid $background-color;

  // Spinner fades out, after it has "completed"
  opacity: 1;
  transition: {
    property: opacity;
    duration: $spinner-fade-duration;
    delay: $spinner-fade-delay;
  }

  &.loaded {
    opacity: 0;
  }

  &::before {
    @extend %fill-avatar;
    content: '';

    // A second solid background, comprised of the left 50% of the element,
    // overlaid upon the top of the underlying first, used to advance the "head"
    // of the spinner
    background: {
      image: linear-gradient($spinner-color, $spinner-color);
      size: 50%;
      position: left;
      repeat: no-repeat;
    }

    // When the spinner completes, this pseudoelement spins clockwise 180deg
    // making the ring 100% solid
    transform: rotate(0deg);
    transition: {
      property: transform;
      duration: $spinner-complete-duration;
      delay: $spinner-complete-delay;
    }
  }
  &.loaded::before {
    transform: rotate(130deg);
  }

  &::after {
    // Overlay a slightly-smaller circle of the background color over the
    // element, so it appears as a ring
    @extend %fill-avatar;
    content: '';
    background-color: $background-color;
    position: absolute;
    top: 0; left: 0;
    transform: scale(1 - $spinner-width / 100%);
    transition: {
      property: transform;
      duration: $spinner-center-expand-duration;
      delay: $spinner-center-expand-delay;
    }
  }
  &.loaded::after {
    transform: scale(1 + $spinner-width / 100%);
  }
}
